# Chat Component
public net.minecraft.client.gui.components.ChatComponent allMessages # allMessages
public net.minecraft.client.gui.components.ChatComponent refreshTrimmedMessage()V # refreshTrimmedMessage
public net.minecraft.client.gui.components.ChatComponent trimmedMessages # trimmedMessages
public net.minecraft.client.gui.components.ChatComponent isChatFocused()Z # isChatFocused
public net.minecraft.client.gui.components.ChatComponent chatScrollbarPos # chatScrollbarPos
public net.minecraft.client.gui.components.ChatComponent newMessageSinceScroll # newMessageSinceScroll

# Server Player Game Mode
public net.minecraft.server.level.ServerPlayerGameMode removeBlock(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Z)Z #removeBlock

# Block
public net.minecraft.world.level.block.Block beginCapturingDrops()V # beginCapturingDrops
public net.minecraft.world.level.block.Block stopCapturingDrops()Ljava/util/List; # stopCapturingDrops

# WinScreen
public net.minecraft.client.gui.screens.WinScreen lines # lines
public net.minecraft.client.gui.screens.WinScreen scroll # scroll

# ServerGamePacketListenerImpl
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundTickCount # aboveGroundTickCount

# Tool Material
public net.minecraft.world.item.ToolMaterial createToolAttributes(FF)Lnet/minecraft/world/item/component/ItemAttributeModifiers;
